Collecting Pillow
  Using cached Pillow-3.0.0.tar.gz
Building wheels for collected packages: Pillow
  Running setup.py bdist_wheel for Pillow
  Stored in directory: /home/pompz/.cache/pip/wheels/4a/50/3d/d5d9f8a46e67a55269632e5d2adc9c04c5254c2d708e9fbe9d
Successfully built Pillow
Installing collected packages: Pillow
Successfully installed Pillow-3.0.0
